

.buraco {
    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 167px;
    top: 224px;
} 
.buraco1 {
    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 442.81px;
    top: 224px;

     
}
.toupeira2 {
    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 718.62px;
    top: 185px;
}

.buraco3 {

    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 994.43px;
    top: 224px;

}
.toupeira3 {

    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 150px;
    top: 415px;
}
.buraco4 {

    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 442.81px;
    top: 446.11px;

}
.buraco6 {

    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 718.62px;
    top: 446.11px;

}
.buraco7 {

    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 994.43px;
    top: 446.11px;
}
.toupeira1 {

    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 994.43px;
    top: 668.22px;
}

.buraco2 {
    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 167px;
    top: 715px;
}

.buraco5 {
    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 442.81px;
    top: 715px;
}

.buraco8 {
    position: absolute;
    width: 221.81px;
    height: 168.11px;
    left: 718.62px;
    top: 715px;

}

